<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <fieldNames>
                <logger>[ignore]</logger>
                <thread>[ignore]</thread>
            </fieldNames>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout_json"/>
    </root>
</configuration>